/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Temp
/Logs
/Library
/Builds
/Assets/Plugins
.vs/SpaceGame/v17/.suo
.vs/SpaceGame/v17/DocumentLayout.json
.vs/SpaceGame/FileContentIndex/4ce40ff8-cf77-40ea-b66a-47b4c0db8803.vsidx
.vs/SpaceGame/FileContentIndex/ef366316-bc59-434b-8b16-129f28033acb.vsidx
